/* ========== RESET ========== */

* {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    box-sizing: border-box;
    /*font-family: 'New Rocker', cursive;*/
    font-family: 'Lato', sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

img {
    max-width: 100%;
    display: block;
    border: none;
}

/* ========== HEADER ========== */

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    color: #fff;
}

header h1 {
    font-family: 'New Rocker', cursive;
    margin-left: 20px;
    font-size: 2em;
}

header ul {
    display: flex;
}

header li {
    margin: 0 15px;
}

header li:first-child {
    margin-left: 0;
}

header li:last-child {
    margin-right: 0;
}

header a {
    color: #fff;
}

@media (max-width: 750px) {
    header {
        flex-direction: column;
    }

    header h1 {
        margin-bottom: 10px;
    }
}

/* ========== HERO ========== */

.hero {
    background-image: url('../img/background-1.jpg');
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero h1 {
    font-size: 3.2rem;
    margin-bottom: 15px;
}

.hero .btn {
    background-color: #fff;
    border-radius: 4px;
    color: #000;
    padding: 20px 50px;
}

@media (max-width: 750px) {
    .hero h1 {
        font-size: 2.5rem;
    }
}

/* ========== ABOUT ========== */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px;
}

.about h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.about p {
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center;
}

.about hr {
    width: 200px;
    height: 2px;
    background-color: #000;
    border: none;
    margin-bottom: 35px;
}

.about-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 900px;
    padding: 10px;
}

.about-images-item {
    display: grid;
}

.about-images-item img {
    grid-column: 1;
    grid-row: 1/3;
    cursor: pointer;
}

.about-images-item .over {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: white;
    grid-column: 1;
    grid-row: 2/3;
}

@media (max-width: 700px) {
    .about-images {
        grid-template-columns: repeat(1, 1fr);
        max-width: 1000px;
    }
}

/* ========== BUY TICKETS ========== */

.buy-tickets {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.buy-tickets h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.buy-tickets p {
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center;
}

.buy-tickets hr {
    width: 200px;
    height: 2px;
    background-color: #daa520;
    border: none;
    margin-bottom: 35px;
}

.buy-tickets .tickets {
    width: 100%;
    display: flex;
}

.buy-tickets .tickets li {
    margin: 15px;
    border: 4px solid #daa520;
    padding: 20px;
}

.buy-tickets .tickets img {
    border-radius: 6px;
    margin-bottom: 15px;
}

.buy-tickets .tickets h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: left;
}

.buy-tickets .tickets p {
    margin-bottom: 40px;
    text-align: left;
}

.buy-tickets .tickets a {
    color: #fff;
    border: 2px solid #daa520;
    padding: 10px;
    text-transform: uppercase;
}

.buy-tickets .tickets a:hover {
    background-color: #daa520;
    color: #fff;
}

@media (max-width: 800px) {
    .buy-tickets .tickets {
        flex-direction: column;
    }
}

/* ========== MODAL ========== */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 20px 40px;
    background-color: #000;
    color: #daa520;
  }
  
  .modal-body {padding: 2px 16px;}

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    padding: 5px 20px 15px 20px;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn-modal {
    background-color: #daa520;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }

/* ========== NEWSLETTER ========== */

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.newsletter h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.newsletter p {
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center;
}

.newsletter hr {
    width: 200px;
    height: 2px;
    background-color: #000;
    border: none;
    margin-bottom: 35px;
}

.newsletter form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 800px;
}

.newsletter input {
    padding: 15px;
    border: solid 1px #c3c3c3;
    border-radius: 4px;
    margin-right: 15px; 
}

.newsletter button {
    padding: 15px;
    background-color: #daa520;
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}


/* ========== FOOTER ========== */

.footer {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    padding: 50px 0;
    align-items: center;
}

.footer ul {
    display: flex;
    margin-bottom: 25px;
}

.footer ul li {
    margin-right: 10px
}

.footer ul li:last-child {
    margin-right: 0;
}

.footer ul li a {
    color: #fff;
    font-size: 2rem;
}

.footer p {
    text-align: center;
}

